<h1>About</h1>
<div class="about animated fadeIn">
  <!-- <section>
  <aside><img src="images/portpic.jpg" alt="A picture of Sam Martinez" /></aside>
  <article>
    "Ever since I started at Epicodus, I have challenged myself to always continue to learn."
  </article> -->

  <div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>About Me:</h4>
      <h1>Sam Martinez: The Journey</h1>
      <p>"Ever since I could remember, I have loved helping others in anything I do. With programming, I have the ability to not only problem solve but solve issues for others which is such an amazing payoff. Since starting at Epicodus I have learned the fundamentals of languages such as PHP, JavaScript, and Drupal but also have learned how to be a better problem solver in everything I do."
      <br>
      <br>
      <i>- Sam Martinez</i>
      </p>
  </div>
</div>

</div>
