<div class="animated fadeIn defaultBackground">
  <h1>Contact Information</h1>
  <article class="type-system-geometric">
    <h2 class="type">Email: <a href="mailto:sammartinez19@gmail.com?Subject=New%20friend:%20Sam%20Martinez%20Portfolio%20Site" target="_top">sammartinez19@gmail.com</a></h2>
    <br>
    <h2 class="type">Phone: 206-883-6140</h2>
    <h4>Here is a link to my <a href="https://www.linkedin.com/in/sammartinezpdx">LinkedIn</a> page. Please feel free to reach out to me there.</h4>
    <h5>You will also find links at the bottom of the page to my Facebook, Twitter, and Github.</h5>

  </article>
</div>
