<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">

    <div class="footer-secondary-links">

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/sam.martinez.7503">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/sam_martinez22">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="https://github.com/sammartinez">
          <img src="../images/GitHub-Mark-64px.png" alt="Github">
        <li><a href="https://www.linkedin.com/in/sammartinezpdx">
          <img src="../images/linkedin.png" alt="LinkedIn">
        </a></li>
        </a></li>
      </ul>
    </div>
</footer>
