<div class="animated fadeIn defaultBackground">
  <h1>Portfolio Projects</h1>
  <div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Beer Me!</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Tic Tac Toe: College Football Edition</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Algoryhthm</a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Beer Me!</a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
      <p>Beer Me offers the ability to remotely buy a friend a drink. After siging up, a free and quick process, you can sign in using your email address. From your profile page you can buy a drink for a friend (don't worry we will notify them via email), check on the number of drink tokens you have (as well as their value), edit or change your profile information, and add your favorite bars.
      </p>
      <p>
        For more information on Beer Me and to view the project, click on this <a href="http://sammartinez.github.io/Beer_Me/">link</a> to view it on Github.
      </p>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Tic Tac Toe: College Football Edition</a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
      <p>The game uses JQuery and JavaScript in order for the game to work. The game has a two player mode and is college football themed.</p>
      <p>
        For more information on Tic Tac Toe and to view the project, click on this <a href="http://sammartinez.github.io/Tic-Tac-ToeJS/">link</a> to view it on Github or click on this <a href="ttt-js/tic-tac-toe.html">link</a> for a live demo.
      </p>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Algorhythm</a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <p>The application focuses on iOS development in Swift 2.0. In the application your able to see six individual playlists on the main page when the application first starts and then you're able to click on each playlist and see the individual playlist themselves.</p>
      <p>
        Here is a <a href="https://github.com/sammartinez/Playlist-iOS-App.git">link</a> to the Github page where you can clone the repository and open the project in XCode.
      </p>
    </div>
  </div>
</div>

</div>

<script>
$(".js-vertical-tab-content").hide();
$(".js-vertical-tab-content:first").show();

/* if in tab mode */
$(".js-vertical-tab").click(function(event) {
  event.preventDefault();

  $(".js-vertical-tab-content").hide();
  var activeTab = $(this).attr("rel");
  $("#"+activeTab).fadeIn("slow").show();

  $(".js-vertical-tab").removeClass("is-active");
  $(this).addClass("is-active");

  $(".js-vertical-tab-accordion-heading").removeClass("is-active");
  $(".js-vertical-tab-accordion-heading[rel^='"+activeTab+"']").addClass("is-active");
});

/* if in accordion mode */
$(".js-vertical-tab-accordion-heading").click(function(event) {
  event.preventDefault();

  $(".js-vertical-tab-content").hide();
  var accordion_activeTab = $(this).attr("rel");
  $("#"+accordion_activeTab).fadeIn("slow").show();

  $(".js-vertical-tab-accordion-heading").removeClass("is-active");
  $(this).addClass("is-active");

  $(".js-vertical-tab").removeClass("is-active");
  $(".js-vertical-tab[rel^='"+accordion_activeTab+"']").addClass("is-active");
});
</script>
